<a href="https://colab.research.google.com/github/Bluestars1/BMI520-Autism-Genes/blob/main/Autism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
from itertools import chain
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy as sa

In [6]:
#get files
from google.colab import files
uploaded = files.upload()

Saving all_gene_disease_associations.xls to all_gene_disease_associations.xls
Saving MappedGenesToPanther.xlsx to MappedGenesToPanther.xlsx
Saving SfariDisorders.xls to SfariDisorders.xls
Saving SFARIGenes.xls to SFARIGenes.xls

In [26]:
#read SfariGenes Gene score 1 and 2 related to autisme 
df = pd.read_excel('SFARIGenes.xls')

In [27]:
# print columns
print (df.columns)
# Convert the dictionary into DataFrame 
genesdf = pd.DataFrame(data = df)
# Remove columns
dfgenes = genesdf.drop(['status', 'syndromic', 'number-of-reports', 'genetic-category'], axis = 1)
#display dfgenes data set to work with
display(dfgenes)

Index(['status', 'gene-symbol', 'gene-name', 'ensembl-id', 'chromosome',
       'genetic-category', 'gene-score', 'syndromic', 'number-of-reports'],
      dtype='object')

     gene-symbol  ... gene-score
0           ABAT  ...        3.0
1         ABCA10  ...        3.0
2         ABCA13  ...        3.0
3          ABCA7  ...        3.0
4            ACE  ...        3.0
...          ...  ...        ...
998       ZMYND8  ...        1.0
999      ZNF804A  ...        2.0
1000      ZNF827  ...        3.0
1001      ZSWIM6  ...        NaN
1002      ZWILCH  ...        3.0

[1003 rows x 5 columns]

In [28]:
#read SfariDisorders file disorders associated with genes
df2 = pd.read_excel('SfariDisorders.xls')

In [29]:
#pd.DataFrame(data = df2)
#display
display(df2)

        MDAG                                          Disorders  TotalDisorders
0       APOE  Anxiety Disorder, Attention Deficit Hyperactiv...              12
1       BDNF  Anxiety Disorder, Attention Deficit Hyperactiv...              12
2     SLC6A4  Anxiety Disorder, Attention Deficit Hyperactiv...              12
3      ABCB1  Anxiety Disorder, Attention Deficit Hyperactiv...              11
4        ADA  Anxiety Disorder, Attention Deficit Hyperactiv...              11
..       ...                                                ...             ...
705    USP9X                            Intellectual Disability               1
706     WNK3                            Intellectual Disability               1
707    XIRP2                                           Epilepsy               1
708     XPO1                            Intellectual Disability               1
709  ZMYND11                            Intellectual Disability               1

[710 rows x 3 columns]

In [30]:
# return list from Disorder which is a series of comma-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

# calculate lengths of splits
lens = df2['Disorders'].str.split(',').map(len)

# create new dataframe, repeating Columns MDAG and Roral Disorders and  chaining
# Disorders to create new rows 1 MDAG -> Multiple Disorder-> TotalDisorders for 
# MDAG
res = pd.DataFrame({'MDAG': np.repeat(df2['MDAG'], lens),
                    'Disorders': chainer(df2['Disorders']),
                     'TotalDisorders': np.repeat(df2['TotalDisorders'], lens)})
# Remove columns
newdisorders = res.drop(['TotalDisorders'], axis = 1)
display(newdisorders)

        MDAG                                  Disorders
0       APOE                           Anxiety Disorder
0       APOE   Attention Deficit Hyperactivity Disorder
0       APOE                 Bipolar Spectrum Disorders
0       APOE                        Depressive Disorder
0       APOE                              Down Syndrome
..       ...                                        ...
705    USP9X                    Intellectual Disability
706     WNK3                    Intellectual Disability
707    XIRP2                                   Epilepsy
708     XPO1                    Intellectual Disability
709  ZMYND11                    Intellectual Disability

[2833 rows x 2 columns]

In [34]:
#BMC genomics listing of all gene disease associations
df3 = pd.read_excel('all_gene_disease_associations.xls')

In [35]:
print (df3.columns)

Index(['geneId', 'geneSymbol', 'DSI', 'DPI', 'diseaseId', 'diseaseName',
       'diseaseType', 'diseaseClass', 'diseaseSemanticType', 'score', 'EI',
       'YearInitial', 'YearFinal', 'NofPmids', 'NofSnps', 'source'],
      dtype='object')

In [36]:
# print columns
print (df3.columns)
# Convert the dictionary into DataFrame 
diseasesdf = pd.DataFrame(data = df3)
# Remove columns
dfdisease = diseasesdf.drop(['diseaseClass', 'diseaseSemanticType', 'score', 'EI','YearInitial','YearFinal','NofPmids','source'], axis = 1)
#display
display(dfdisease)

Index(['geneId', 'geneSymbol', 'DSI', 'DPI', 'diseaseId', 'diseaseName',
       'diseaseType', 'diseaseClass', 'diseaseSemanticType', 'score', 'EI',
       'YearInitial', 'YearFinal', 'NofPmids', 'NofSnps', 'source'],
      dtype='object')

       geneId geneSymbol  ...  diseaseType  NofSnps
0           1       A1BG  ...        group        0
1           1       A1BG  ...      disease        0
2           1       A1BG  ...    phenotype        0
3           1       A1BG  ...      disease        0
4           1       A1BG  ...      disease        0
...       ...        ...  ...          ...      ...
65530     673       BRAF  ...      disease        2
65531     673       BRAF  ...      disease        2
65532     673       BRAF  ...      disease        2
65533     673       BRAF  ...      disease        2
65534     673       BRAF  ...      disease        0

[65535 rows x 8 columns]

In [38]:
df4 = pd.read_excel('MappedGenesToPanther.xlsx')

In [39]:
# print columns
print (df4.columns)
# Convert the dictionary into DataFrame 
panthermapdf = pd.DataFrame(data = df4)
# Remove columns
#dfdisease = diseasesdf.drop(['diseaseClass', 'diseaseSemanticType', 'score', 'EI','YearInitial','YearFinal','NofPmids','source'], axis = 1)
#display
display(panthermapdf)

Index(['MppedID', 'GeneID', 'FamiySubfamily', 'ProteinClass'], dtype='object')

      MppedID  ...                            ProteinClass
0       AADAT  ...                            transaminase
1       AANAT  ...                       acetyltransferase
2        ABAT  ...                            transaminase
3      ABCA13  ...  ATP-binding cassette (ABC) transporter
4       ABCA7  ...  ATP-binding cassette (ABC) transporter
...       ...  ...                                     ...
1038   ZNF292  ...   C2H2 zinc finger transcription factor
1039   ZNF335  ...   C2H2 zinc finger transcription factor
1040   ZNF407  ...   C2H2 zinc finger transcription factor
1041   ZNF462  ...   C2H2 zinc finger transcription factor
1042  ZNF804A  ...                                       -

[1043 rows x 4 columns]

In [117]:
pfm = pd.merge(df2, df, how='left', left_on=['gene-symbol'], right_on=['MDAG'])

KeyError: ignored

In [23]:
print(pfm)

      status  ... TotalDisorders
0          9  ...            3.0
1          9  ...            NaN
2          9  ...            5.0
3          9  ...            5.0
4          9  ...            NaN
...      ...  ...            ...
998        9  ...            NaN
999        9  ...            6.0
1000       9  ...            NaN
1001       9  ...            NaN
1002       9  ...            NaN

[1003 rows x 12 columns]

In [24]:
pfn = pd.merge(df2 ,df4, how='left', left_on=['gene-symbol'], right_on=['MppedID'])

In [12]:
print(pfn['gene-name'],pfn['MppedID'])

0                        4-aminobutyrate aminotransferase
1       ATP-binding cassette, sub-family A (ABC1), mem...
2              ATP binding cassette subfamily A member 13
3       ATP-binding cassette, sub-family A (ABC1), mem...
4                         angiotensin I converting enzyme
                              ...
1010                   zinc finger MYND-type containing 8
1011                             Zinc finger protein 804A
1012                              Zinc finger protein 827
1013                   zinc finger SWIM-type containing 6
1014                            zwilchkinetochore protein
Name: gene-name, Length: 1015, dtype: object 0          ABAT
1           NaN
2        ABCA13
3         ABCA7
4           NaN
         ...
1010        NaN
1011    ZNF804A
1012        NaN
1013        NaN
1014        NaN
Name: MppedID, Length: 1015, dtype: object

In [48]:
print(df2.loc[df2['gene-score'] == 1.0])

     status gene-symbol  ... syndromic number-of-reports
6         9        ACTB  ...         1                 3
14        9        ADNP  ...         0                50
16        9        ADSL  ...         0                 6
17        9        AFF2  ...         0                16
26        9       AHDC1  ...         0                13
..      ...         ...  ...       ...               ...
976       9      ZBTB20  ...         0                25
986       9      ZNF292  ...         0                 6
988       9      ZNF462  ...         0                 9
995       9        UBR1  ...         0                 1
998       9      ZMYND8  ...         0                 4

[207 rows x 9 columns]